.WhatWeDoWrapper {
  background-color: #FFF;
}
.WhatWeDoContainer,
.PanelsContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 15px;
}
.WhatWeDoContainer h2 {
  font-family: 'Roboto', sans-serif;
  color:  #40485a;
  font-size: 48px;
  font-weight: 300;
  padding: 60px 0 50px 0;
  position: relative;
  text-align: center;
}
.WhatWeDoContainer h2:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background-color:  #4a24a8;
  width: 80px;
  height: 3px;
}
.PanelsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.PanelsContainer {
  text-align: center;
}
.PanelsContainer span {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color:  #4CA9FF;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  border-bottom: 2px solid transparent;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms ease;
  cursor: pointer;
  margin: 50px 0 20px 0;
}
.Panel {
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 30px 25px;
  transition: all 300ms ease;
}
.Panel h3 {
  font-family: 'Roboto', sans-serif;
  color:  #40485a;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0 20px 0;
}
.Panel p {
  font-family: 'Roboto', sans-serif;
  color:  #6a707d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.Icon {
  width: 206px;
  height: 155px;
  margin: 0 auto;
  transition: all 300ms ease;
}
.Design {
  background: url('../../assets/images/design_blue.png') center center no-repeat;
}
.Development {
  background: url('../../assets/images/development_blue.png') center center no-repeat;
}
.Promote {
  background: url('../../assets/images/promote_blue.png') center center no-repeat;
}
@media(min-width: 768px) {
  .WhatWeDoContainer,
  .PanelsContainer {
    width: 720px;
    margin: 0 auto;
    padding: 100px 0;
  }
  .PanelsContainer{
    padding-top: 0;
  }
  .WhatWeDoContainer h2 {
    padding-top: 0;
  }
  .PanelsContainer span:hover {
    border-bottom: 2px solid #4CA9FF;
  }
}
@media(min-width: 992px) {
  .WhatWeDoContainer,
  .PanelsContainer {
    width: 962px;
  }
  .Panel {
    width: 30%;
    padding: 60px 50px;
  }
  .Panel:hover {
    box-shadow: 0px 30px 60px 0px rgba(64, 72, 90, 0.15);
  }
  .Panel:hover .Design {
    background: url('../../assets/images/design_grey.png') center center no-repeat;
  }
  .Panel:hover .Development {
    background: url('../../assets/images/development_grey.png') center center no-repeat;
  }
  .Panel:hover .Promote {
    background: url('../../assets/images/promote_grey.png') center center no-repeat;
  }
}
@media(min-width: 1200px) {
  .WhatWeDoContainer,
  .PanelsContainer {
    width: 1170px;
  }
}