.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  z-index: 100;
}
.Links {
  padding: 20px;
}
@media(min-width: 768px) {
  .NavBar {
    width: 750px;
    margin: 0 auto;
  }
}
@media(min-width: 992px) {
  .NavBar {
    width: 970px;
    padding: 30px 0 10px 0;
  }
}
@media(min-width: 1200px) {
  .NavBar {
    width: 1170px;
  }
}