.Indicator {
  display: none;
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  outline: none;
  padding: 50px 15px 15px 15px;
  text-align: left;
  cursor: pointer;
  position: relative;
  transition: all 300ms ease;
}
.IndicatorActive:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #FFF;
  border-radius: 2px;
  position: absolute;
  top: -2px;
  left: 0;
}
@media(min-width: 768px) {
  .Indicator {
    display: inline-block;
  }
  .Indicator:hover {
    opacity: .5;
  }
}