.HeaderWrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}
@media(min-width: 992px) {
  .HeaderWrapper {
    background: url('../../assets/images/header_bg.jpg') center center no-repeat;
    background-size: cover;
  }
}
